<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method = "post" action="https://dh.force.com/digitalCampus/secur/frontdoor.jsp">
      <input type="hidden" name="sid" value="00D10000000bGtH!AQEAQPzaJ5QwKk0.cESvpAHgntml8vF9xJMHardMb8lhlPPmcxyzRqanJToT36wniocPITpY5CWvmJB1DbYw5AJIHuyUz2MY"/>
      <input type="text" value="a14dc073" name="loginPage:formId:j_id33"/>
      <input type="password" value="" name="loginPage:formId:j_id34" />
      <button type="submit" >送信</button>
    </form>
  </body>
</html>